<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="/portfolio.css">
</head>
<body>
  <div class="main">
    <div id="profile">
      <img src="data:image/jpg;base64, <%= profilePic %>" alt="profile image" />
      <div id="profiledetails">
      <h1>PROFILE</h1>
      <h3>Name</h3>
      <p>Bilal Kombo Okweto</p>
      <h3>Date of Birth</h3>
      <p>July 15,1999</p>
      <h3>Address</h3>
      <p>Koikata Avenue,Westlands</p>
      <h3>Tel</h3>
      <p>+254 796 455 850</p>
      <h3>Email</h3>
      <p>bilalfitness@gmail.com</p>
    </div>
    </div>

    <div id="bilalinfo">
    <h1 id="name">BILAL KOMBO OKWETO</h1>
    <P id="prof">Certified Fitness Coach & Biology/Chemistry Teacher</P>
    <h1>JOB EXPERIENCES</h1>
    <div id="experience">
     <div> 
      <p class="l">Nov 2018-<br>Present</p>
      <p class="r"><span>Certified Fitness Coach</span> <br>Linux Fitness Center</p> 
    </div>
    <div> 
      <p class="l">Sep 2023-<br>Present</p>
      <p class="r"><span>Bio/Chem Intern Teacher</span> <br>Maliti Boys Schol</p> 
    </div>
    <div> 
      <p class="l">Jan 2024-<br>Present</p>
      <p class="r"><span>Personal Nutrition Adviser</span> <br>The Ohanga's Family</p> 
    </div>
    </div>
    <h1>EDUCATION</h1>
    <div id="education">
     <div> 
      <p class="l">2018-2022</p>
      <p class="r"><span>KAFUCO University</span> <br>Bsc Education Science</p> 
    </div>
    <div> 
      <p class="l">July 2018-<br>Dec 2023</p>
      <p class="r"><span>Linux Training Center</span> <br>Certificate in Fitness</p> 
    </div>
    <div> 
      <p class="l">May 2020-<br>August 2020</p>
      <p class="r"><span>Certificate in Nutrition</span> <br>KIPS Training College</p> 
    </div>
    </div>
  
    <h1>CERTIFICATION</h1>
    <div id="certification">
     <div> 
      <p><span>Bsc in Education Science</span></p>
      <p>At KAFUCO University</p> 
    </div>
    <div> 
      <p><span>Cert in Fitness</span></p>
      <p>Linux Training Center</p> 
    </div>
    <div> 
      <p><span>Cert in Nutrition</span></p>
      <p>At KIPS Training College</p> 
    </div>
    </div>
    <h1>HOBBIES</h1>
    <div id="hobbies">
      <ul>
        <li>Gym Strength Training</li>
        <li>Reading Masculine Books</li>
        <li>Road Runs</li>
        <li>Creating Blogs</li>
      </ul>
    </div>


    </div>

  </div>
  
</body>
</html>